2023_03_VKI/vki_phd_symposium_article_2023/vki_phd.aux
2023_03_VKI/vki_phd_symposium_article_2023/vki_phd.blg
2023_03_VKI/vki_phd_symposium_article_2023/vki_phd.fdb_latexmk
2023_03_VKI/vki_phd_symposium_article_2023/vki_phd.fls
2023_03_VKI/vki_phd_symposium_article_2023/vki_phd.log
2023_03_VKI/vki_phd_symposium_article_2023/vki_phd.pdf
2023_03_VKI/vki_phd_symposium_article_2023/vki_phd.synctex.gz
2023_03_VKI/Loreline
2023_03_VKI/2023_VKI_Templates
2022_04_RMA/Pictures
Videos/
Evaluations/
/2023_Jcon/SEM/index_files
/2023_Jcon/AirfoilGmsh/index1_files
**/.vscode
2023_05_VKI_Gridap/Tutorials
*.vtu
**/gif_ld
*.pvd
*.gitignore
*.mp4
*.log
*.nav
*.out
*.toc
*.vrb
*.gz
*.snm
**/libs